<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    {{- partial "head.html" . -}}
    {{- template "_internal/google_analytics.html" . -}}
</head>

<body
        class="{{ if or (ne .Kind `page`) (eq .Layout `archives`) (eq .Layout `search`) }}list{{ end }}
           {{ if eq site.Params.defaultTheme `dark` }} dark{{ end }}"
        id="top">

{{- partialCached "header.html" . .Page -}}

<main class="main">
    {{- block "main" . }}{{- end -}}
</main>

{{- partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}

</body>
</html>